/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.content {
    /* TODO: fix this so it actually gets the navbar size*/
    margin-top: 95px;
}

/* NAVBAR */
.navbar {
    background-color: #00102b;
    padding: 1.7em;
    border: none !important;
    z-index: 9999;
}

/* PAGES */
.page-title {
    margin: 1.75rem;
    text-align: center !important
}

.hidden {
    display: none;
}
